/*---- imports a dafont font ----*/
@import url('https://www.dafontfree.net/embed/b3Blbi1zYW5zLXJlZ3VsYXImZGF0YS8xNi9vLzc4NzU5L09wZW5TYW5zLVJlZ3VsYXIudHRm');

/*---- sets margin, padding and border to zero ----*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*---- Sets and displays a grid template (class) ----*/
/*---- aligns content and sets background colour----*/
/*---- Adds padding, gap, and margin to set areas----*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr) repeat(3, 2fr);
    background-color: lightgray;
    margin: auto;
    gap: 10px;
    padding: 10px;
}

/*---- Header Class ----*/
/*---- Sets area in grid ----*/
/*---- Sets background colour----*/
.header {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: teal;
    height: 150px;
}

/*---- creates Navigation Class ----*/
/*---- Sets area in grid ----*/
/*---- Sets background colour----*/
.navigation {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 50px;       /*---- Creates empty space above ----*/
}


/*---- creates Page Name Class (used in multiple pages) ----*/
/*---- Sets area in grid ----*/
/*---- Sets background colour and margin ----*/
.page-name {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
}

/*---- creates Menu Block Class (used in Home_page) ----*/
/*---- Sets area in grid ----*/
/*---- Sets background colour and margin ----*/
.menu-block {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: white;
    margin: 50px;
}

/*---- creates Specials Block Class (used in Home_page) ----*/
/*---- Sets area in grid ----*/
/*---- Sets background colour and margin ----*/
.specials-block {
    align-items: center;
    justify-content: center;  /*---- aligns content to the center (display, align and justify) ----*/
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: white;
    margin: 50px;
}


/*---- creates All Menus Block Class (used in Menu) ----*/
.all-menus-block {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: white;
    margin-top: 100px;
}

/*---- creates Diet Page Name Class (used in Diets) ----*/
.diets-page-name {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    margin-top: 30px;
}

/*---- creates Diet Toggle Block Class (used in Diets) ----*/
.diets-toggle-block {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: white;
    margin-left: 50px;
}

/*---- creates Diet Toggled Name Class (used in Diets) ----*/
.toggled-diet-name{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: white;
    margin: 30px;
}

/*---- creates Diets Info Class (used in Diets) ----*/
.diets-info{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}


/*---- creates three Drink Info Classes (used in Drinks) ----*/

.drink-info-one{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: white;
    margin: 50px;
}

.drink-info-two{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: white;
    margin: 50px;
}

.drink-info-three{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: white;
    margin: 50px;
}


/*---- links to font family ----*/
/*---- sets colour and font size, aligns to center ----*/
p{
    font-family: 'open-sans-regular', sans-serif;
    font-size: 20px;
    text-align: center;
}

/*---- links to font family ----*/
/*---- sets colour and font size, aligns to center ----*/
h1{
    font-family: 'open-sans-regular', sans-serif;
    font-size: 30px;
    text-align: center;
}

/*---- creates a.one (link version one) option ----*/
/*---- links to font family ----*/
/*---- sets colour and font size ----*/
a.one{
    font-family: 'open-sans-regular', sans-serif;
    font-size: 20px;
    color: white;
    border: 4px solid white;  /* ---- sets border size and colour ---- */
    border-radius: 0px;  /* ---- sets shape of border (square) ---- */
    padding: 10px;
    margin-left: 30px;
    text-decoration: none;
}